.wrapper {
   overflow: hidden;
   min-width: 100%;
}

h1,
h2 {
   text-align: center;
}

.card-bord {
   min-height: 500px;
   position: relative;
   background-color: #0d5825;
   text-align: center;
}

.card-bord blockquote {
   font-size: 25px;
   color: #fff;
}

blockquote p:before {
   content: "	\201c ";
}

blockquote p:after {
   content: "	\201d";
}

.card-bord img {
   margin-top: 60px;
   position: absolute;
   width: 150px;
   transition: all 0.5s ease;
}

.card1 {
   left: 45%;
   transform: rotate(-30deg);
}

.card1:hover {
   transform: translate(-20px, -20px) rotate(-30deg);
}

.card2 {
   left: 47%;
   transform: rotate(-20deg);
}

.card2:hover {
   transform: translate(-20px, -20px) rotate(-20deg);
}

.card3 {
   left: 50%;
   top: 25%;
   transform: rotate(10deg);
}

.card3:hover {
   transform: translateY(-20px) rotate(10deg);
}

.squares {
   margin: 0 auto;
   width: 200px;
   height: 200px;
   position: relative;
}

.squar-red,
.squar-blue,
.squar-green {
   width: 100px;
   height: 100px;
   position: absolute;
}

.squar-red {
   background-color: red;
}

.squar-blue {
   background-color: blue;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 100;
}

.squar-green {
   background-color: green;
   bottom: 0;
   right: 0;
}

.menu {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 200px;
   background-color: grey;
   z-index: 10;
   transform: translateX(-180px);
   transition: all 0.5s ease;
}

.menu:hover {
   transform: translateX(0);
}

.menu:hover .txt {
   opacity: 0;
}

.txt {
   display: block;
   position: relative;
   top: 50%;
   left: 90px;
   transform: rotate(90deg);
   font-size: 20px;
   text-transform: uppercase;
   color: white;
   transition: all 0.5s;
}

.menu-list {
   list-style-type: none;
}

.menu-list li {
   position: relative;
   margin-bottom: 10px;
   text-transform: uppercase;
}

li:before {
   position: absolute;
   top: 3px;
   left: -20px;
   content: "";
   width: 10px;
   height: 10px;
   background-color: orange;
   border: 1px solid #000;
   transform: rotate(45deg);
}

.menu-list li a {
   text-decoration: none;
   color: white;
   transition: color 0.5s ease;
}

.menu-list li a:hover {
   color: orange;
}

.container {
   margin: 20px auto;
   width: 400px;
   height: 300px;
}

@keyframes squar-animation {
   0% {
      top: 0;
      left: 0;
      background-color: red;
   }

   25% {
      top: calc(100% - 100px);
      left: 0;
      background-color: blue;
   }

   50% {
      top: calc(100% - 100px);
      left: calc(100% - 100px);
      background-color: green;
   }

   75% {
      top: 0;
      left: calc(100% - 100px);
      background-color: yellow;
   }

   100% {
      top: 0;
      left: 0;
      background-color: red;
   }
}

.squar-anim {
   width: 100px;
   height: 100px;
   animation: squar-animation 4s ease infinite normal;
   position: relative;
}