body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   min-width: 320px;
}

.wrapper {
   overflow-x: hidden;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

#header {
   flex: 0 1;
   background-color: #d4b90c;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: 10px;
}

nav {
   position: relative;
   display: flex;
   align-items: center;
}

#menu__toggle {
   opacity: 0;
}

.menu__btn {
   display: flex;
   align-items: center;
   position: fixed;
   top: 20px;
   left: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   visibility: hidden;
   z-index: 1;
}

.menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center; /* центрируем содержимое кнопки */
   position: relative;
   margin: 5px 20px 5px auto;
   top: 0;
   left: 0;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #616161;
   transition: all 0.4s;
}
.menu__btn > span::before {
   content: "";
   top: -8px;
}
.menu__btn > span::after {
   content: "";
   top: 8px;
}

.list {
   display: flex;
   list-style-type: none;
   transition: all 0.4s;
}

.list li {
   text-decoration: none;
   padding: 0 5px;
}

.link {
   color: #000;
   text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
}

#menu__toggle:checked ~ .list {
   visibility: visible;
   left: 0;
}

#main {
   flex: 1 0;
}

.container {
   text-align: center;
   height: 100%;
   display: flex;
}

h1 {
   text-align: center;
   text-transform: uppercase;
}

.article {
   flex: 1;
   padding: 20px;
}

.aside1,
.aside2 {
   text-align: center;
   flex: 0 0 210px;
}

.aside1 {
   order: -1;
   background-color: #c899bb;
}

.aside2 {
   background-color: #9db3c8;
}

#footer {
   text-align: center;
   flex: 0 1;
   padding-top: 10px;
   background-color: #87ed87;
}

.box-card {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0px -10px;
}

.box-card > li {
   display: flex;
   width: calc(100% / 3);
   padding: 0px 10px;
   margin-bottom: 20px;
}

.card {
   border: 2px solid black;
   border-radius: 8px;
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   padding: 5% 10%;
}

.card__img {
   border: 15px solid grey;
   border-radius: 50%;
   max-width: 150px;
}

.card__subtitle {
   margin-top: 20px;
}

.card__text {
   margin-top: 20px;
   flex: 1;
}

.card__btn {
   background-color: #a64dff;
   color: #fff;
   border: none;
   border-radius: 16px;
   padding: 5px 20px;
   transition: all 0.3s;
}

.card__btn:hover {
   background-color: orange;
   transform: scale(1.2);
}

.holder {
   margin: 0px auto;
   width: 400px;
   height: 100px;
   display: flex;
   border: 2px solid #000;
   flex-wrap: wrap;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
   display: flex;
   overflow: hidden;
}

.holder > div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: calc(100% / 2);
}

.holder div:first-child {
   order: 1;
   background-color: tomato;
}

.holder div:nth-child(2) {
   flex: 1;
   order: 4;
   background-color: deepskyblue;
}

.holder div:nth-child(3) {
   flex: 1;
   order: 3;
   background-color: blueviolet;
}

.holder div:nth-child(4) {
   flex: 1;
   order: 5;
   background-color: green;
}

.holder div:last-child {
   order: 2;
   background-color: orange;
}

@media (max-width: 1199px) {
   .article-body > p {
      font-size: 14px;
   }

   h1 {
      font-size: 26px;
   }

   .card__img {
      border: 12px solid grey;
      max-width: 130px;
   }

   .card__subtitle {
      font-size: 18px;
      margin-top: 15px;
   }

   .card__text {
      margin-top: 10px;
      font-size: 14px;
   }
}

@media (max-width: 991px) {
   #header {
      padding: 7px;
   }

   .list li {
      padding: 0 3px;
   }

   .box-card {
      margin: 0px -5px;
   }
   .box-card > li {
      width: 50%;
      padding: 0px 5px;
   }
}

@media (max-width: 767px) {
   .aside1,
   .aside2 {
      flex: 0 0 150px;
   }
   .container {
      flex-direction: column;
   }
}

@media (max-width: 575px) {
   #header {
      position: fixed;
      left: 0;
      right: 0;
   }

   .menu__btn {
      text-align: center;
      visibility: visible;
   }

   .list {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      text-align: center;
      background-color: #ccc;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
   }

   .link {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-size: 20px;
      font-weight: 600;
   }

   .article-body > p {
      font-size: 14px;
   }

   h1 {
      font-size: 22px;
   }

   .card__img {
      border: 10px solid grey;
      max-width: 110px;
   }

   .card__subtitle {
      font-size: 16px;
      margin-top: 13px;
   }

   .card__text {
      margin-top: 8px;
      font-size: 14px;
   }
   .box-card > li {
      width: 100%;
      padding: 0px 5px;
   }

   .aside1 {
      margin-top: 67px;
   }
   .aside1,
   .aside2 {
      flex: 0 0 100px;
   }
}
