* {
   color: green;
}

#header {
   padding: 10px 0;
}
.logo {
   width: 150px;
}

h1,
p,
.logo {
   margin: 0 0 20px 0;
}

ul a {
   color: coral;
}

[type="text"] {
   background-color: cyan;
   padding: 0 10px;
}
