body {
   min-width: 320px;
}
#wrapper {
   width: 100%;
   overflow: hidden;
   position: relative;
   background: #ccc;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
#header {
   background: yellow;
}

/* скрываем чекбокс */
#menu__toggle {
   opacity: 0;
   position: absolute;
}

/* стилизуем кнопку */
.menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center; /* центрируем содержимое кнопки */
   position: relative;
   margin: 5px 20px 5px auto;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #616161;
   transition: 0.3s;
}
.menu__btn > span::before {
   content: "";
   top: -8px;
}
.menu__btn > span::after {
   content: "";
   top: 8px;
}

/* контейнер меню */
.menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 300px;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   text-align: center;
   background-color: #eceff1;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
   transition: 0.3s;
}

/* элементы меню */
.menu__item {
   display: block;
   padding: 12px 24px;
   color: #333;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
}
.menu__item:hover {
   background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
}

#main {
   flex-grow: 1;
   display: flex;
}
.content {
   flex-grow: 1;
}
.sidebar {
   padding: 10px;
   background: pink;
   width: 100%;
   border: 1px solid #000;
}
#footer {
   background: green;
}
.card {
   background: deepskyblue;
}
.list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.list > li {
   width: 100%;
   padding: 0 15px;
   margin-bottom: 30px;
}

@media (min-width: 480px) {
   .list > li {
      width: 50%;
   }
}

@media (min-width: 768px) {
   #main .container {
      display: flex;
      width: 100%;
   }
   .sidebar:first-of-type {
      order: -1;
   }
   .sidebar {
      min-width: 150px;
   }
   .list > li {
      width: calc(100% / 3);
   }
}

@media (min-width: 992px) {
   .sidebar:first-of-type {
      background-color: tomato;
   }
   .list > li {
      width: 25%;
   }
   .menu__btn {
      display: none;
   }
   .menu__box {
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      position: static;
      visibility: visible;
      width: auto;
      height: auto;
      padding: 5px 20px;
   }
}
